a:link {
    color: #1a0dab;
}

a:visited {
    color: #609;
}

a.title {
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.page-nav-link {
    margin: 0.5em;
}

a.page-nav-link {
    color: #34639f;
    cursor: pointer;
}

body {
    font-family: 'Roboto',arial,sans-serif;
}

p.snippet {
    color: #545454;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 3px 0 2px;
    word-wrap: break-word;
}

p.url {
    color: #006621;
    font-size: 14px;
    margin: 0;
    overflow: hidden;
    padding: 1px 0 0;
    word-wrap: break-word;
}

div.result {
    margin: 1.5em 0 1em 0;
}

button {
    cursor: pointer;
}

#result-list {
    width: 751px;
}

#page-nav {
    margin-top: 2em;
    text-align: center;
    width: 751px;
}