a:link {
    color: #34639f;
}

a:visited {
    color: #4075ba;
}

a.title {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.page-nav-link {
    margin: 0.5em;
}

a.page-nav-link {
    color: #34639f;
    cursor: pointer;
}

p.snippet {
    padding: 0;
    margin: 0;
}

p.url {
    color: #777;
    font-size: 1em !important;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

div.result {
    margin: 1.5em 0 1em 0;
}

#result-list {
    width: 751px;
}

#page-nav {
    margin-top: 2em;
    text-align: center;
    width: 751px;
}